<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="org.agh.iosr.cyberwej.data.objects.User" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.GroupMembership" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.Group" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.Product" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.PaymentItem" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.Payment" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.Invitation" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.Payback" />
		<mapping class="org.agh.iosr.cyberwej.data.objects.PaymentParticipation" />

	</session-factory>
</hibernate-configuration>
